<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
        <li><a href="http://yangjia.me" target="_blank" title="yangjian">Alion's Blog</a></li>
      <li><a href="http://hexo.io" target="_blank" title="Hexo">Hexo</a></li>
      <li><a href="http://dsy.im" target="_blank" title="dsy">dsy's Blog</a></li>
      <li><a href="http://ibrother.me" target="_blank" title="ibrother">ibrother's Blog</a></li>
      <li><a href="http://makaiqian.com" target="_blank" title="makaiqian">makaiqian's Blog</a></li>
    </ul>
</div>
