<% if (site.posts.length){ %>
<div class="widget">
  <p class="asidetitle"><%= __('recent_comments') %></p>
    
<ul class="entry ds-recent-comments" data-num-items="8" data-show-avatars="0" data-show-time="1" data-show-admin="0" data-excerpt-length="70"></ul>
</div>
<% } %>